@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (min-width: 514px) {
  .scroll-bar::-webkit-scrollbar {
    display: none;
  }
    
}

.scroll-bar::-webkit-scrollbar-thumb {    
    border-radius: 2px;
    background-color: #D17842;
}


.scroll-bar::-webkit-scrollbar {
    width: 10px;
}